<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hi {{ user.username }}!
{% if not is_tracking %}
<form action='events/start_tracking' method='GET'>
  <button type='action'> start tracking</button>
  <a> ip: {{ ip }} </a>
  </form>
{% else %}
<form action='events/stop_tracking' method='GET'>
  <button type='action'> stop tracking</button>
  </form>
{% endif %}
<p>
<a href="{% url 'list_events' %}"> last routes</a> /
<a href="{% url 'logout' %}">logout</a></p>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">login</a> /
<a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}
